html {
    box-sizing: border-box;
  }
  *, *:after, *:before {
    box-sizing: inherit;
  }
  .container {
    display: flex;
    max-width: 960px;
    background-color: #eaeaea;
    justify-content: space-between;
    margin: 20px auto;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.1)
  }
  .profile {
    flex-basis: 35%;
    background-color: #39383a;
    color: #ababab;
  }
  .profile-photo {
    height: 270px;
    background-image: url(photo_5974125301023752569_y.jpg);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
  }
  .profile-info {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 70px;
  }
  .profile-text {
    font-size: 13px;
    line-height: 24.19px;
    margin-bottom: 50px;
  }
  .heading {
    margin: 0;
    padding-bottom: 16px;
    text-transform: uppercase;
    font-weight: 700;
  }
  .heading-light {
    color: #ffffff;
    border-bottom: 2px #5a5a5a dashed;
  }
  .contacts {
    margin-bottom: 70px;
  }
  .contacts-title {
    color: #fff;
    margin-bottom: 13px;
    font-size: 16px;
    font-weight: 400;
  }
  .contacts-text {
    color: #ababab;
    text-decoration: none;
    padding-left: 27px;
    line-height: 20.97px;
  }
  .contacts-item {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 2px #5a5a5a dashed;
  }
  address {
    font-style: normal;
  }
  .fas {
    margin-right: 7px;
  }
  .lines {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .line {
    display: block;
    width: 90px;
    height: 2px;
    background-color: #5c5c5c;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .line:nth-child(2) {
    width: 100px;
    margin-left: 20px;
  }
  .resume {
    padding: 25px 30px;
    flex-basis: 63%;
    background-color: #fff;
  }
  .resume-wrap {
    padding: 36px 56px;
    border: 1px solid rgba(168, 168, 168, 0.44);
    min-height: 100%;
  }
  .logo {
    display: flex;
    justify-content: center;
    margin-bottom: 38px;
  }
  .logo-img {
    width: 90px;
    height: 90px;
    border: 1px solid #39383a;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo-lines {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 17px;
    margin-right: 17px;
  }
  .logo-line {
    width: 43px;
    height: 2px;
    background-color: #39383a;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .logo-lines_left .logo-line:nth-child(2) {
    margin-right: 20px;
    width: 55px;
  }
  .logo-lines_right .logo-line:nth-child(2) {
    margin-left: 20px;
    width: 55px;
  }
  .about {
    padding-bottom: 30px;
    border-bottom: 1px solid #e0e0e0;
    text-align: center;
    margin-bottom: 40px;
  }
  .name {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 10.75px;
    margin-bottom: 10px;
  }
  .position {
    display: inline-block;
    font-size: 9px;
    text-transform: uppercase;
    color: #808080;
    margin-bottom: 30px;
  }
  .about-address {
    font-size: 13px;
    margin-bottom: 15px;
    font-family: Roboto;
  }
  .about-contacts {
    font-size: 8px;
  }
  .about-contacts__link {
    text-decoration: none;
    color: #777777;
  }
  .heading_dark {
    font-size: 16px;
    font-weight: 400;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 37px;
  }
  .education h2{
    font-size: 23px;
  }
  .education h4{
    font-size: 15px;
  }
  .list {
    list-style: none;
    padding-left: 0;
  }
  .list-item {
    position: relative;
    padding-left: 40px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 2px dashed #ececec;
  }
  .list-item:before {
    content: '';
    position: absolute;
    left: 0;
    top: 3px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #000;
  }
  .list-item__title {
    font-size: 11px;
    text-transform: uppercase;
    margin-bottom: 5px;
  }.list-item__date {
    font-size: 10px;
    text-transform: uppercase;
  }
  .list-item__text {
    font-size: 10px;
    color: #777;
  }
  .list-item p a{
    text-decoration: none;
    color: #03A9F4;
    font-size: 20px;
  }
  .list-item p a:hover{
    color: #39383a;
  }
  .list-item_non-border {
    border: none;
  }
  .heading_skills {
    margin-bottom: 48px;
  }
  .skills-list {
    list-style-type: none;
    padding-left: 0;
  }
  .skills-list__item {
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
  }
  .level {
    width: 70%;
    height: 8px;
    border: 1px solid #39383a;
    position: relative;
  }
  .level:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #898989;
  }
  .level-80:before {
    width: 80%;
  }
  .level-90:before {
    width: 90%;
  }
  .level-50:before {
    width: 50%;
  }
  .level-70:before{
    width: 70%;
  }
  .level-60:before{
    width: 60%;
  }
  
  @media (max-width: 1024px) {
    .container {
      width: 90%;
    }
  }
  
  @media (max-width: 992px) {
    .container {
      flex-direction: column;
      width: 70%;
    }
    .profile-photo {
      width: 200px;
      height: 200px;
      border: 3px solid #fff;
      margin: auto;
      margin-top: 40px;
    }
    .profile {
      position: relative;
    }
    .profile:before {
      content: '';
      width: 100%;
      height: 150px;
      background-color: #03A9F4;
      display: block;
      position: absolute;
    }
    .profile-photo {
      position: relative;
      z-index: 0;
    }
    .lines {
      display: none;
    }
  }
  @media (max-width: 768px) {
    .container {
      width: 80%;
    }
    .resume {
      padding: 10px;
    }
    .resume-wrap {
      padding-left: 20px;
      padding-right: 20px;
    }
    .list-item__title {
      font-size: 14px;
    }
    .list-item__date {
      font-size: 12px;
    }
    .list-item__text {
      font-size: 12px;
      line-height: 1.4;
    }
    .about-contacts__link {
      display: block;
      font-size: 13px;
    }
  }
  @media (max-width: 567px) {
    .logo-img {
      width: 70px;
      height: 70px;
    }
    .logo-lines {
      margin-left: 8px;
      margin-right: 8px;
    }
  }
  @media (max-width: 480px) {
    .logo {
      display: none;
    }
    .container {
      min-width: 320px;
    }
    .name {
      letter-spacing: normal;
    }
    .level {
      width: 50%;
    }
    
  }

 /* start loader */

 .wheel-and-hamster {
  --dur: 1s;
  position: relative;
  width: 12em;
  height: 12em;
  font-size: 14px;
}

.wheel,
.hamster,
.hamster div,
.spoke {
  position: absolute;
}

.wheel,
.spoke {
  border-radius: 50%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wheel {
  background: radial-gradient(100% 100% at center,hsla(0,0%,60%,0) 47.8%,hsl(0,0%,60%) 48%);
  z-index: 2;
}

.hamster {
  animation: hamster var(--dur) ease-in-out infinite;
  top: 50%;
  left: calc(50% - 3.5em);
  width: 7em;
  height: 3.75em;
  transform: rotate(4deg) translate(-0.8em,1.85em);
  transform-origin: 50% 0;
  z-index: 1;
}

.hamster__head {
  animation: hamsterHead var(--dur) ease-in-out infinite;
  background: hsl(30,90%,55%);
  border-radius: 70% 30% 0 100% / 40% 25% 25% 60%;
  box-shadow: 0 -0.25em 0 hsl(30,90%,80%) inset,
		0.75em -1.55em 0 hsl(30,90%,90%) inset;
  top: 0;
  left: -2em;
  width: 2.75em;
  height: 2.5em;
  transform-origin: 100% 50%;
}

.hamster__ear {
  animation: hamsterEar var(--dur) ease-in-out infinite;
  background: hsl(0,90%,85%);
  border-radius: 50%;
  box-shadow: -0.25em 0 hsl(30,90%,55%) inset;
  top: -0.25em;
  right: -0.25em;
  width: 0.75em;
  height: 0.75em;
  transform-origin: 50% 75%;
}

.hamster__eye {
  animation: hamsterEye var(--dur) linear infinite;
  background-color: hsl(0,0%,0%);
  border-radius: 50%;
  top: 0.375em;
  left: 1.25em;
  width: 0.5em;
  height: 0.5em;
}

.hamster__nose {
  background: hsl(0,90%,75%);
  border-radius: 35% 65% 85% 15% / 70% 50% 50% 30%;
  top: 0.75em;
  left: 0;
  width: 0.2em;
  height: 0.25em;
}

.hamster__body {
  animation: hamsterBody var(--dur) ease-in-out infinite;
  background: hsl(30,90%,90%);
  border-radius: 50% 30% 50% 30% / 15% 60% 40% 40%;
  box-shadow: 0.1em 0.75em 0 hsl(30,90%,55%) inset,
		0.15em -0.5em 0 hsl(30,90%,80%) inset;
  top: 0.25em;
  left: 2em;
  width: 4.5em;
  height: 3em;
  transform-origin: 17% 50%;
  transform-style: preserve-3d;
}

.hamster__limb--fr,
.hamster__limb--fl {
  clip-path: polygon(0 0,100% 0,70% 80%,60% 100%,0% 100%,40% 80%);
  top: 2em;
  left: 0.5em;
  width: 1em;
  height: 1.5em;
  transform-origin: 50% 0;
}

.hamster__limb--fr {
  animation: hamsterFRLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30,90%,80%) 80%,hsl(0,90%,75%) 80%);
  transform: rotate(15deg) translateZ(-1px);
}

.hamster__limb--fl {
  animation: hamsterFLLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30,90%,90%) 80%,hsl(0,90%,85%) 80%);
  transform: rotate(15deg);
}

.hamster__limb--br,
.hamster__limb--bl {
  border-radius: 0.75em 0.75em 0 0;
  clip-path: polygon(0 0,100% 0,100% 30%,70% 90%,70% 100%,30% 100%,40% 90%,0% 30%);
  top: 1em;
  left: 2.8em;
  width: 1.5em;
  height: 2.5em;
  transform-origin: 50% 30%;
}

.hamster__limb--br {
  animation: hamsterBRLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30,90%,80%) 90%,hsl(0,90%,75%) 90%);
  transform: rotate(-25deg) translateZ(-1px);
}

.hamster__limb--bl {
  animation: hamsterBLLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30,90%,90%) 90%,hsl(0,90%,85%) 90%);
  transform: rotate(-25deg);
}

.hamster__tail {
  animation: hamsterTail var(--dur) linear infinite;
  background: hsl(0,90%,85%);
  border-radius: 0.25em 50% 50% 0.25em;
  box-shadow: 0 -0.2em 0 hsl(0,90%,75%) inset;
  top: 1.5em;
  right: -0.5em;
  width: 1em;
  height: 0.5em;
  transform: rotate(30deg) translateZ(-1px);
  transform-origin: 0.25em 0.25em;
}

.spoke {
  animation: spoke var(--dur) linear infinite;
  background: radial-gradient(100% 100% at center,hsl(0,0%,60%) 4.8%,hsla(0,0%,60%,0) 5%),
		linear-gradient(hsla(0,0%,55%,0) 46.9%,hsl(0,0%,65%) 47% 52.9%,hsla(0,0%,65%,0) 53%) 50% 50% / 99% 99% no-repeat;
}

/* Animations */
.loader{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: papayawhip;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader-hidden{
  opacity: 0;
  visibility: hidden;
  transition: .7s;
}
@keyframes hamster {
  from, to {
    transform: rotate(4deg) translate(-0.8em,1.85em);
  }

  50% {
    transform: rotate(0) translate(-0.8em,1.85em);
  }
}

@keyframes hamsterHead {
  from, 25%, 50%, 75%, to {
    transform: rotate(0);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(8deg);
  }
}

@keyframes hamsterEye {
  from, 90%, to {
    transform: scaleY(1);
  }

  95% {
    transform: scaleY(0);
  }
}

@keyframes hamsterEar {
  from, 25%, 50%, 75%, to {
    transform: rotate(0);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(12deg);
  }
}

@keyframes hamsterBody {
  from, 25%, 50%, 75%, to {
    transform: rotate(0);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(-2deg);
  }
}

@keyframes hamsterFRLimb {
  from, 25%, 50%, 75%, to {
    transform: rotate(50deg) translateZ(-1px);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(-30deg) translateZ(-1px);
  }
}

@keyframes hamsterFLLimb {
  from, 25%, 50%, 75%, to {
    transform: rotate(-30deg);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(50deg);
  }
}

@keyframes hamsterBRLimb {
  from, 25%, 50%, 75%, to {
    transform: rotate(-60deg) translateZ(-1px);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(20deg) translateZ(-1px);
  }
}

@keyframes hamsterBLLimb {
  from, 25%, 50%, 75%, to {
    transform: rotate(20deg);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(-60deg);
  }
}

@keyframes hamsterTail {
  from, 25%, 50%, 75%, to {
    transform: rotate(30deg) translateZ(-1px);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(10deg) translateZ(-1px);
  }
}

@keyframes spoke {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(-1turn);
  }
}
 /* end loader */
